@import url('https://fonts.googleapis.com/css?family=Nova+Square& display=swap');

:root {
  background-color: rgb(29, 26, 26)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Nova Square', cursive;
}

h1 {
  font-size: 5.4rem;
  color: black;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
html {    

  background: url('./images/home3.jpg') no-repeat center fixed;   
  background-size: cover;
  

}

.container {
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2.4rem; 
  padding: 2rem 0; 
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(28, 26, 26);
  background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(8, 114, 244, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  cursor: not-allowed; 
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background: linear-gradient(90deg, rgb(255,205,80) 0%, rgb(255,205,80) 100%);
}

#highscore-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5)
}
#practice-btn {
  background: linear-gradient(90deg, rgb(255, 9, 9) 0%, rgb(240, 6, 6) 100%);
}

#practice-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 0, 0, 0.5)
}
#left-animation {
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
}
#add-btn, #subtract-btn, #multiply-btn, #divide-btn {
  background: rgb(255,205,80);
}

#add-btn:hover, #subtract-btn:hover, #multiply-btn:hover, #divide-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5)
}

/* End Page CSS */ 
.end-form-container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}
input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem rgba(86, 185, 235, 0.5);
}
input::placeholder { 
  color: #aaa;
}
#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem; 
  color: #fff;
  text-align: center;
}
#saveScoreBtn { 
  border: none;
}

.fa-home {
  margin-left: 1rem;
  font-size: 2rem;
  color: rgb(28, 26, 26)
}


#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: auto;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgb(45, 200, 228);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .4s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/*Back Icon*/
.back{
  position: absolute;
  top: 0%;
  right: 97%;
}

.backbtn{
  background-color: transparent;
  color: #000000;
  font-size: 50px;
  font-weight: 50;
  border: none;
  display: block;
  transition: all linear .25s;
  cursor: pointer;
}

/*Music*/
.bg-music{
  position: absolute;
  top: 98%;
  left: 97%;
}

.musicbtn{
  background-color: transparent;
  color: #fff;
  font-size: 50px;
  border: none;
  display: block;
  transition: all linear .25s;
}

.fa-volume-high {
  position: absolute;
  display: none;
}

.fa-volume-xmark {
  position: absolute;
  display: block;
}
/**/

@media screen and (max-width: 768px) {
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__box {
    width: 100%;
    top: -100%;
    height: 50%;
    background-color: rgb(0, 153, 255);
  }
  #menu__toggle:checked ~ .menu__box {
    top: 0 !important;
  }
  .menu__item {
    display: block;
    padding: 6px 12px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .4s;
  }
}
